/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5dadb;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.container {
  display: flex;
  height: calc(100dvh - 4rem);
  width: calc(100dvw - 4rem);
  margin: 2rem;
  background-color: white;
  border-radius: 12px;
}

.left, .right {
  width: 50%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.right {
  background-image: url('/images/ranger.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

/* CONTENIDO INTERNO */
.titulo, .login {
  text-align: center;
}

.titulo h1, .titulo p {
  margin: 0.5rem;
}

.titulo p {
  color: #686767;
}

.titulo {
  width: 70%;
}

.login {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
  font-size: 0.95rem;
}

.input-container input {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-container input::placeholder {
  color: #aaa;
}

.input-container input:focus {
  border-color: #0b8749;
  background-color: #fff;
}

.login-btn {
  background-color: #0b8749;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #09693a;
}

.login-btn:active {
  background-color: #074e2a;
  transform: translateY(1px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    border-radius: 0;
  }

  .left, .right {
    width: 100%;
    border-radius: 0;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    height: 100dvh;
  }

  .titulo,
  .login {
    width: 90%;
    max-width: 400px;
  }
}
